.Backlog {
    border-radius: 10px;
    background: rgb(30, 175, 219);
}

.InProgress {
    border-radius: 10px;
    background: rgb(224, 213, 49);
}

.Done {
    border-radius: 10px;
    background: rgb(87, 228, 69);
}

.StatusLine {
    color: rgb(255, 255, 255);
    text-align: center;
}

.TaskButton {
    border: 0.1rem solid rgb(247, 247, 247);
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.NewTaskButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

